*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    color: #333;
}
.title {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}
@media (max-width: 767.98px) {
    .title {
        font-size: 28px;
    }
}
@media (max-width: 479.98px) {
    .title {
        font-size: 26px;
    }
}
.button {
    border-radius: 15px;
    background-color: #306DB3;
    color: #FFF;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    padding: 15px 30px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
.button:hover {
    background-color: #1c5596;
}
@media (max-width: 991.98px){
    .button {
        font-size: 16px;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.link {
    color: #306DB3;
    font-size: 16px;
    font-weight: 700;
    line-height: 170.523%;
}
.link:hover {
    text-decoration: underline;
}
@media (max-width: 767.98px) {
    .link {
        font-size: 14px;
    }
}
@media (max-width: 991.98px){
}
@media (max-width: 767.98px) {
}
@media (max-width: 479.98px) {
}