/* ---Header------------------------------- */
.header {
    padding-top: 20px;
}
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.header__schedule {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.header__adress {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.header__numbers {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.header__number {
    display: flex;
    align-items: center;
    gap: 5px;
}
.header__number a{
    color: #333;
}
.header__number a:hover {
    text-decoration: underline;
}
.header__number:not(:last-child) {
    margin-bottom: 5px;
}
.header__number::before {
    content: '';
    background: url(../img/header/phone.svg) 0 0 no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.header__nav {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list {
    display: flex;
    flex: 0 1 60%;
    justify-content: space-between;
}
.nav__link {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: color 0.3s ease-in-out;
}
.nav__link:hover {
    text-decoration: underline;
    color: #306DB3;
}
.nav__button {
    flex: 0 1 40%;
    text-align: end;
}

.burger {
    display: none;
}

.nav__info {
    display: none;
}
@media (max-width: 991.98px){
    .header__numbers {
        font-size: 14px;
    }
    .header__schedule {
        font-size: 14px;
    }
    .header__adress {
        font-size: 14px;
    }
    .nav__button {
        flex: none;
    }
    .nav__list {
        flex: none;
        gap: 10px;
    }
    .nav__link {
        font-size: 16px;
    }
    .header__info {
        gap: 25px;
    }
}
@media (max-width: 767.98px) {
    .header__logo img {
        max-width: 100px;
    }
    .nav__list {
        width: 100%;
        height: 100%;
    }
    .header__info {
        flex-wrap: wrap;
        gap: 10px;
        max-width: 158px;
    }
    .header__schedule {
        font-size: 12px;
    }
    .header__adress {
        font-size: 12px;
    }

    .header__numbers {
        font-size: 12px;
    }
    .header__logo {
        position: relative;
        z-index: 11;
    }

    .nav__button {
        display: none;
    }

    .nav__info {
        display: block;
        width: 100%;
    }

    /*  */
    .burger {
        width: 40px;
        height: 22px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: relative;
        z-index: 11;
        display: block;
    }
    
    .burger::before,
    .burger::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    
    .burger::after {
        top: auto;
        bottom: 0;
    }
    
    .burger span {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        display: inline-block;
        background-color: #000;
    }

    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* background-color: rgba(0,0,0, 0.5); */
        z-index: 0;
        opacity: 0;
        visibility: hidden;
    }

    .nav {
		position: absolute;
		left: 0;
		top: 50px;
		max-width: 400px;
		width: 80%;
		height: 100vh;
		z-index: 10;
		box-shadow: 5px 0 15px -5px rgba(0,0,0, 0.8);
		background-color: #fff;
		transform: translateX(-100vw);
		overflow-x: hidden;
		overflow-y: auto;
	}

	.nav__list {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		padding-top: 10%;
		position: relative;
        padding: 30px 15px;
        row-gap: 20px;
	}

	.nav__item {
		margin-left: 0 !important;
		width: 100%;
		padding: 0;
		position: static;
	}
    .nav__link {
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }
    .info-nav__items {
        border-top: 1px solid #E7E7E8;
        padding: 20px 0 40px;
    }
    .info-nav__item {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
    .info-nav__item:not(:last-child) {
        margin-bottom: 20px;
    }
    .info-nav__adress {
        display: flex;
        align-items: center;
    }
    .info-nav__adress::before {
        content: '';
        background: url(../img/burger/location.svg) 0 0 no-repeat;
        display: inline-block;
        width: 29px;
        height: 28px;
        margin-right: 9px;
    }
    .info-nav__schedule {
        display: flex;
        align-items: center;
    }
    .info-nav__schedule::before {
        content: '';
        background: url(../img/burger/time.svg) 0 0 no-repeat;
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }
    .info-nav__numbers {
        font-family: 'Montserrat';
        display: flex;
        align-items: center;
    }
    .info-nav__numbers::before {
        content: '';
        background: url(../img/burger/phone.svg) 0 0 no-repeat;
        display: inline-block;
        width: 29px;
        height: 29px;
        margin-right: 10px;
    }
    .info-nav__row {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }
    .info-nav__number {
        color: #333;
    }
    .info-nav__number:hover {
        text-decoration: underline;
    }
    .info-nav__mail {
        color: #333;
        display: flex;
        align-items: center;
    }
    .info-nav__mail:hover {
        text-decoration: underline;
    }
    .info-nav__mail::before {
        content: '';
        background: url(../img/burger/mail.svg) 0 0 no-repeat;
        display: inline-block;
        width: 30px;
        height: 21px;
        margin-right: 10px;
    }
    .info-nav__item:last-child {
        border-top: 1px solid #E7E7E8;
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }
    .nav.open {
		transform: translateX(0);
		transition: all 0.3s;
	}
    .overlay.open {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s;
	}
    .lock {
        overflow: hidden;
    }
    .burger--active span {
        opacity: 0;
    }
    .burger--active::before {
        top: 50%;
        transform: rotate(45deg);
      }
      
      .burger--active::after {
        bottom: auto;
        top: 50%;
        transform: rotate(-45deg);
      }
}
@media (max-width: 499.98px) {
    .header__info {
        display: none;
    }
    .header__numbers {
        font-size: 11px;
    }
    .nav {
        width: 100%;
    }
}
/* --------Get-started----------------------------------- */
.get-started {
    margin: 30px 0 0 0;
    background: url(../img/get-started/backgroung.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.get-started::after {
    content: '';
    background: linear-gradient(180deg, #78B7FF 0%, rgba(120, 183, 255, 0.60) 56.86%, rgba(120, 183, 255, 0.00) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.get-started__content {
   padding: 145px 0 265px 0;
   max-width: 633px;
   position: relative;
   z-index: 2;
}
.get-started__title {
    color: #FFF;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
}
.get-started__title:not(:last-child) {
    margin-bottom: 25px;
}
.get-started__text {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    line-height: 131.023%;
}
@media (max-width: 991.98px){
    .get-started__content {
        padding: 120px 0 240px 0;
    }
    .get-started__title {
        font-size: 50px;
    }
    .get-started__text {
        font-size: 20px;
    }
}
@media (max-width: 767.98px) {
    .get-started__content {
        padding: 90px 0 200px 0;
    }
    .get-started__title {
        font-size: 40px;
    }
    .get-started__text {
        font-size: 15px;
    }
    .get-started__content {
        max-width: 500px;
    }
}
/* -----Info-------------------------------- */
.info {  
    margin-top: -100px; 
    position: relative;
    z-index: 2;
}
.info__container {
    display: flex;
    align-items: center;
    gap: 30px;
}
.info__column {
    flex: 0 1 33.333%;
}
.info__item {
    height: 100%;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 50px 30px 50px 30px;
}
.info__item-value {
    color: #78B7FF;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
}
.info__item-value:not(:last-child) {
    margin-bottom: 15px;
}
.info__item-text {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
@media (max-width: 991.98px){
    .info__item {
        padding: 30px 15px 30px 15px;
    }
    .info__item-value {
        font-size: 30px;
    }
    .info__item-text {
        font-size: 18px;
    }
    .info {
        margin-top: -65px;
    }
}
@media (max-width: 767.98px) {
    .info__container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .info__item {
        min-width: 245px;
    }
}
/* ----Health-Home--------------------------------- */
.health-home {
    padding: 75px 0 0 0;
}
.health-home__body {
    display: flex;
}
.health-home__content {
    flex: 0 1 50%;
    padding: 0 30px 0 0;
}
.health-home__title:not(:last-child) {
    margin-bottom: 35px;
}
.health-home__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 170.523%;
}
.health-home__text:not(:last-child) {
    margin-bottom: 20px;
}
.item-health-home {
    display: flex;
    align-items: flex-start;
}
.item-health-home__icon {
    margin: 0 15px 0 0;
}
.item-health-home__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 170.523%;
}
.item-health-home:not(:last-child) {
    margin-bottom: 15px;
}
.item-health-home__text span {
    color: #78B7FF;
    font-size: 18px;
    font-weight: 600;
}
.health-home__image {
    flex: 0 1 50%;
}
.health-home__image img {
    max-width: 100%;
}
@media (max-width: 1154px) {
    .health-home__text {
        font-size: 12px;
    }
    .item-health-home__text {
        font-size: 12px;
    }
    .item-health-home__text span {
        font-size: 14px;
    }
    .item-health-home__icon img {
        width: 50px;
        height: 50px;
    }
    .item-health-home__icon {
        margin-right: 5px;
    }
    .health-home__text:not(:last-child) {
        margin-bottom: 10px;
    }
    .health-home__content {
        padding: 0 15px 0 0;
    }
} 
@media (max-width: 991.98px) {
    .health-home__body {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }
    .health-home__title:not(:last-child) {
        margin-bottom: 25px;
    }
}
/* -------Services------------------------------------------ */
.services {
    padding: 100px 0 0 0;
}
.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 45px 0 50px 0;
    row-gap: 30px;
    column-gap: 30px;
}
.services__item {
    max-width: 270px;
    width: 100%;
    height: 220px;
    border-radius: 15px;
    border: 2px solid var(--light-div, #E7E7E8);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.services__item:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);
}
.item-services__icon {
    width: 109px;
    margin: 0 auto;
}
.item-services__title {
    text-align: center;
    color: #333;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}
.services__button {
    text-align: center;
}
@media (max-width: 991.98px){
    .services__items {
    row-gap: 20px;
    column-gap: 20px;
    }
    .item-services__title {
        font-size: 20px;
    }
}
@media (max-width: 767.98px) {
    .services {
        padding: 70px 0 0 0;
    }
    .services__items {
        row-gap: 15px;
        column-gap: 15px;
        margin: 30px 0 30px 0;
    }
}
/* ----About--------------------------------- */
.about {
    padding: 100px 0 0 0;
}
.about__container {
    display: flex;
}
.about__content {
    display: flex;
    flex: 0 1 50%;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 0 0;
}
.about__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 170.523%;
    margin: 25px 0 30px 0;
}
.about__link {
   display: flex;
   align-items: center;
}
.about__link::after {
    content: '';
    background: url(../img/about/Vector.svg);
    width: 5px;
    height: 9px;
    display: block;
    transform: translate(4px, 2px);
}
.about__image {
    flex: 0 1 50%;
}
.about__image img {
    max-width: 100%;
}
@media (max-width: 1082px) {
    .about__text {
        margin: 15px 0 15px 0;
    }
}
@media (max-width: 991.98px){
    .about__text {
        font-size: 12px;
    }
    .about__link::after {
        top: 7px;
        left: 126px;
    }
    .about__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 767.98px) {
    .about {
        padding: 70px 0 0 0;
    }
    .about__container {
        flex-direction: column;
    }
    .about__link {
        margin-bottom: 10px;
    }
    .about__link::after {
        transform: translate(4px, 0px);
    }
}
/* -------Discounts---------------------------------- */
.discounts {
    padding: 100px 0 100px 0;
}
.discounts__title {
    margin-bottom: 50px;
}
.discounts__items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.discounts__items:not(:last-child) {
    margin-bottom: 30px;
}
.discounts__item {
    display: flex;
    max-width: 570px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid var(--light-div, #E7E7E8);
}
.item-discounts__image {
    flex: 0 1 50%;
}
.item-discounts__content {
    flex: 0 1 50%;
    padding: 30px 30px 30px 30px;
}
.item-discounts__title {
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}
.item-discounts__text {
    font-size: 18px;    
    font-weight: 400;
    line-height: 160.523%;
    margin: 15px 0 20px 0;
}
.item-discounts__link {
    display: flex;
    align-items: center;
}
.item-discounts__link::after {
    content: '';
    background: url(../img/about/Vector.svg);
    width: 5px;
    height: 9px;
    display: block;
    transform: translate(4px, 2px);
}
@media (max-width: 1090px) {
    .item-discounts__content {
        padding: 20px 15px 20px 15px;
    }
    .item-discounts__title {
        font-size: 20px; 
    }
    .item-discounts__text {
        font-size: 15px;    
    }
}
@media (max-width: 991.98px) {
    .discounts__items {
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .discounts__items:not(:last-child) {
        margin-bottom: 15px;
    }
    .item-discounts__image img {
        max-width: 180px;
    }
    .item-discounts__image {
        flex: 0 1 20%;
    }
    .item-discounts__content {
        flex: 0 1 80%;
    }
}
@media (max-width: 767.98px) {
    .item-discounts__link::after {
        transform: translate(4px, 0px);
    }
    .discounts {
        padding: 70px 0 70px 0;
    }
    .discounts__title {
        margin-bottom: 30px;
    }
}
@media (max-width: 479.98px) {
    .item-discounts__image img {
        display: none;
    }
    .discounts__item {
        flex-direction: column;
    } 
}
/* ---------Form------------------------------------------- */
.form {
    background: #DDEDFF;
}
.form__container {
}
.form__title {
    padding-top: 50px;
}
.form__title:not(:last-child) {
    margin-bottom: 25px;
}
.form__subtitle {
    max-width: 700px;
    color: #999;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; 
}
.form__subtitle:not(:last-child) {
    margin-bottom: 45px;
}
.form__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 70px;
}
.form__item {
    max-width: 370px;
    width: 100%;
}
.form__input {
    width: 100%;
    padding: 19px;
    outline-color: #306DB3;
    border-radius: 15px;
    border: 1px solid var(--text, #333);
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.form__button.button {
    width: 100%;
    padding: 19px 30px;
}
@media (max-width: 991.98px) {
    .form__items {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px;
    }
}
@media (max-width: 767.98px) {
    .form__subtitle {
        font-size: 16px;
    }
    .form__title:not(:last-child) {
        margin-bottom: 15px;
    }
    .form__subtitle:not(:last-child) {
        margin-bottom: 30px;
    }
    .form__title {
        padding-top: 30px;
    }
    .form__items {
        padding-bottom: 40px;
    }
}
@media (max-width: 479.98px) {
    .form__item {
        max-width: 100%;
    }
}
/* -------Reviews---------------------------------------------- */
.reviews {
    padding: 100px 0 100px 0;
}
.reviews__container {
}
.reviews__title {
    margin-bottom: 45px;
}
.reviews-slider {
}
.swiper-container {
}
/* .reviews-slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
} */
.swiper-wrapper {
}
.reviews-slider__content {
    max-width: 370px;
    min-height: 230px;
    border-radius: 15px;
    border: 2px solid var(--light-div, #E7E7E8);
    padding: 30px;
}
.swiper-slide {
}
.reviews-slider__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.reviews-slider__title {
    color: #78B7FF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}
.reviews-slider__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 170.523%;
    margin-top: 20px;
}
.reviews-slider__data {
    color: #999;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    line-height: 170.523%; 
}
.reviews-slider__pagination.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    margin-top: 20px;
    min-height: 16px;
}
.reviews-slider__pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #7ebaff;
    opacity: 1;
}
.reviews-slider__pagination .swiper-pagination-bullet-active {
    background: #306DB3;
}
@media (max-width: 767.98px) {
    .reviews {
        padding: 70px 0 70px 0;
    }
}
@media (max-width: 520px) {
    .reviews-slider__content {
        max-width: 100%;
    }
}
/* -------Contacts---------------------------------------------- */
.contacts {
    padding: 0 0 70px 0;
}
.contacts__container {
    display: flex;
}
.contacts__body {
    flex: 0 1 40%;
}
.contacts__title {
    margin-bottom: 70px;
}
.contacts__info {
}
.info-contacts {
}
.info-contacts__items {
    display: flex;
    flex-direction: column;
}
.info-contacts__item {
}
.info-contacts__item:not(:last-child) {
    margin-bottom: 30px;
}
.info-contacts__adress {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.info-contacts__adress::before {
    content: '';
    background: url(../img/burger/location.svg) 0 0 no-repeat;
    display: inline-block;
    width: 29px;
    height: 28px;
    margin-right: 9px;
}
.info-contacts__numbers {
   display: flex;
   align-items: center;
}
.info-contacts__numbers::before {
    content: '';
    background: url(../img/burger/phone.svg) 0 0 no-repeat;
    display: inline-block;
    width: 29px;
    height: 29px;
    margin-right: 10px;
}
.info-contacts__row {
    display: flex;
    flex-direction: column;
}
.info-contacts__number {
    color: #333;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
.info-contacts__mail {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}
.info-contacts__mail::before {
    content: '';
    background: url(../img/burger/mail.svg) 0 0 no-repeat;
    display: inline-block;
    width: 30px;
    height: 21px;
    margin-right: 10px;
}
.info-contacts__schedule {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}
.info-contacts__schedule::before {
    content: '';
    background: url(../img/burger/time.svg) 0 0 no-repeat;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}
.contacts__map {
    flex: 0 1 60%;
}
.contacts__map iframe {
    width: 100%;
    max-height: 400px;
    border-radius: 15px;
}
@media (max-width: 991.98px) {
    .contacts__title {
        margin-bottom: 55px;
    }
    .info-contacts__adress {
        font-size: 18px;
    }
    .info-contacts__number {
        font-size: 18px;
    }
    .info-contacts__schedule {
        font-size: 18px;
    }
    .info-contacts__mail {
        font-size: 18px;
    }
    .info-contacts__item:not(:last-child) {
        margin-bottom: 25px;
    }
}
@media (max-width: 767.98px) {
    .contacts__container {
        flex-direction: column;
    }
    .info-contacts__items {
        margin-bottom: 20px;
        align-items: center;
    }
    .contacts__title {
        margin-bottom: 40px;
    }
}
@media (max-width: 479.98px) {
    .contacts__title {
        margin-bottom: 25px;
    }
}
/* -------Footer----------------------------------------- */
.footer {
    padding: 70px 0 30px 0;
    background-color: #DDEDFF;
}
.footer__container {
}
.footer__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__body:not(:last-child) {
    margin-bottom: 50px;
}
.footer__logo {
}
.footer__nav {
}
.footer__list {
    display: flex;
    gap: 25px;
}
.footer__item {
}
.footer__link {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    transition: color 0.3s ease-in-out;
}
.footer__link:hover {
    text-decoration: underline;
    color: #306DB3;
}
.footer__button {
}
.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #777;
    padding-top: 15px;
}
.footer__text {
    color: #777;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}
@media (max-width: 1089px) {
    .footer__list {
        gap: 15px;
    }
    .footer__link {
        font-size: 16px;
    }
}
@media (max-width: 991.98px){
    .footer__body {
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width: 767.98px) {
    .footer {
        padding: 30px 0 15px 0;
    }
    .footer__body:not(:last-child) {
        margin-bottom: 20px;
    }
}
@media (max-width: 525px) {
    .footer__list {
        flex-wrap: wrap;
        justify-content: center;
    }
}